Platform Event/flows/Platform_Event_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_chatter</name>
        <label>Post to chatter</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <faultConnector>
            <targetReference>Retry_post_to_chatter</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Record.Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Label.HasanOnMGroupId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Retry_post_to_chatter</name>
        <label>Retry post to chatter</label>
        <locationX>440</locationX>
        <locationY>314</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Record.Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F95f000000koivCAA</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Platform Event Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Platform Event Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Post_to_chatter</targetReference>
        </connector>
        <object>Notification_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
