ScreenFlow/Multi Screen Flow with Multi Record Insertions/Multi_Screen_Flow_with_Multi_Insertions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <dynamicChoiceSets>
        <name>Stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Multi Screen Flow with Multi Insertions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Multi Screen Flow with Multi Insertions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <faultConnector>
            <targetReference>Provide_Opportunity_Information</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateContact</name>
        <label>CreateContact</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Get_Account_Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>Get_Account_Record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Get_Account_Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Provide_Contact_information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>704</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Provide_Contact_information</targetReference>
        </connector>
        <fields>
            <name>errrrr</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_Contact_information</name>
        <label>Provide Contact information</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Provide_Opportunity_Information</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Shipping_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Account_Record.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <elementReference>Get_Account_Record.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Account_Record.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputProvinceOptions</name>
                <value>
                    <elementReference>Get_Account_Record.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_Opportunity_Information</name>
        <label>Provide Opportunity Information</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateContact</targetReference>
        </connector>
        <fields>
            <name>OppName</name>
            <dataType>String</dataType>
            <fieldText>OppName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_date</name>
            <dataType>Date</dataType>
            <fieldText>Close date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StagePicklist</name>
            <choiceReferences>Stage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AccountId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
