ScheduleTriggerFlow/Schedule_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Account_to_Contact</name>
        <label>Assign Account to Contact</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Iterate_contacts.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_contacts.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_contacts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Schedule Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Trigger Flow</label>
    <loops>
        <name>Iterate_contacts</name>
        <label>Iterate contacts</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_all_the_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_to_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_contact_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Iterate_contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Kekw</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_all_the_contacts</name>
        <label>Get all the contacts</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact_records</name>
        <label>Update contact records</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <inputReference>Iterate_contacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_the_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-10-21</startDate>
            <startTime>07:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
